nav.navbar{
    background-color:rgba(0, 0, 0, 0.7) !important;
}

header{
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../assets/images/bg-02.jpg") no-repeat center center / cover;
    padding: 0 0 100px;
}

header > section{
    padding-top: 225px;
}
/* slider img */
.carousel-item img {
    width: 500px;
    height: 400px;
}
/* main images */
.connect img{
    width: 350px;
    height: 250px;
}
/* checkBox icon */
.icon{
    width: 30px;
    height: 30px;
}
/* responsive */
@media screen and (min-width:768px) {
    header > section{
        padding-top: 120px;
    }
    .connect img{
        width: 450px;
        height: 320px;
    }
}